/* Animation on main page. Stars and ellipses are animated */

@keyframes stars {
    to {
      transform: scaleX(1.05) scaleY(1.05);  
    }
}

@keyframes ellipse_lights {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

/* Animation on main page. Placeholder logo animation */

.main__placeholder_logo:hover {
    transform: scaleY(1.5) scaleX(1.5) rotateY(180deg);
}

/* Animation on second section. READ MORE button animation */
.section_2__button:hover {
    transform: rotate(10deg);
}

/* Animation on 3rd section. Learn more button animation */
.learn_more_button ellipse {
    transition: all 0.8s ease-in-out;
    transform-origin: center;
  }

.learn_more__button-polygon path {
    transition: all 0.8s ease-in-out;
    transform-origin: center;
  }

.learn_more_button:hover ellipse {
    /* transform: scale(1.2); */
    fill: #FFFFFF; 
} 

.learn_more_button:hover .learn_more__button-polygon path {
    /* transform: scale(1.5); */
    fill: #39C2D7
}


@media only screen and (max-width: 768px) {
    
    .main__stars {
        transform-origin: right center;
        animation: stars 2s linear 1s infinite alternate;
    }
    
    .main__ellipse_lights {
        transform-origin: center;
        animation: ellipse_lights 3s linear 4s infinite;
    }
}