/* * {
    box-sizing: border-box;
    border: 1px solid #000;
} */

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Oswald";
    color: rgb(114, 67, 67);
}


header {
    z-index: 5;
    position: absolute;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 150px;
    align-items: center;
    justify-content:flex-start;
}

.header__project {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .5px;
    text-decoration: none;
    justify-self: center;
}

label {
    color: #FFFFFF;
    font-size: 20px;
}

.nav__list {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
}

.nav__list .nav__link {
    text-decoration: none;
    color: #FFFFFF;
}

.nav__list .nav__link:nth-child(2) .nav__link{
    text-decoration: underline;
}

#burger, [for=burger] {
    display: none;
}


.main {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-bottom: 0px;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.main__header {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.main__paragraph {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.main__placeholder_logo {
    position: relative;
    align-self: center;
    width: 63px;
    height: 63px;
    transition: 0.8s;
}

.main_h1 {
    position: relative;
    align-self: center;
}

.main_p {
    position: relative;
    align-self: center;
}

.main__stars {
    position: absolute;
    left: 0px;
    transform-origin: right center;
    animation: stars 2s linear 1s infinite alternate;
}

.main__ellipse_lights {
    position: absolute;
    left: 0px;
    transform-origin: center;
    animation: ellipse_lights 3s linear 4s infinite; 
}

.section_2 {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0;
    padding-top: 100px;
    color: #000;
    background: #EEEEEE; 
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.section_2__h1 {
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
}

.section_2__h2 {
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #464547;
}

.section_2__paragraphs {
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: 408px 408px;
    grid-column-gap: 60px;
    justify-content: center;
    align-content: center;
    text-align: justify;
}


.section_2__button {
    position: relative;
    width: 116px;
    height: 36px;
    top: 150px;
    border: none;
    color: #fff;
    border-radius: 18px;
    background-color: #55cad8;
    transition: 0.8s;
    transform-origin: left top;
}

.learn_more {
    position: relative;
    width: 100%;
    height: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/background_2.png);
    color: #fff;
}

.learn_more__header {
    position: relative;
    width: 432px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
}

.learn_more__paragraph {
    position: relative;
    width: 350px;
    height: 97.56px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.learn_more_button {
    display: flex;
    justify-content: center;
    position: relative; 
}

.learn_more__button-polygon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}

.footer {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #464547;    
}

.footer__contacts {
    position: relative;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 75px 75px;
    grid-auto-columns: minmax(75px, auto); 
}

.footer__contacts > *{
    font-family: 'Source Sans Pro';
    color: #fff
}

.footer__logo {
    grid-column-start: 0 / 1;
}

#footer__logo_img {
    margin: 0px 5px 0px 0px;
    float: left;
    width: 20px;
    height: 20px;
}

#footer__logo_paragraph {
    margin: 0px 10px;
}

.footer__contacts_street {
    grid-column: 3 / 4;
    grid-row: 1;
}

.footer__contacts_email {
    grid-column: 3 / 4;
    grid-row: 2;
}

.footer__contacts_email a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer__contacts_paragraph {
    grid-column: 6 / 8;
    grid-row: 2;
}