@media only screen and (max-width: 768px) {
    .body {
        width: 480px;
    }

    .header {
        display: grid;
        grid-template-columns: 20% 70% 10%;
        grid-template-rows: 200px;
    }

    .header__project {
        font-size: 20px;
        justify-self: center;
    }

    [for=burger] {
        display: block;
        position: absolute;
        top: 30px;
        right: 40px;
    }

    nav {
        display: none; 
    }

    #burger:checked + label + nav {
        display: flex;
        justify-content: flex-end;
    }

    .nav__list {
        // display: flex;
        flex-direction: column;
        align-items: flex-end;
        // justify-items: flex-end;
    }
    
    .main {
        position: relative;
        display: flex;
        width: 100%;
        text-align: center;
        background-position: right;
    }

    .main__stars, .main__ellipse_lights {
        position: fixed;
    }

    .section_2 {
        width: 100%;
        height: 880px;
        .section_2__h1 {
            font-size: 38px;
        }
        .section_2__h2 {
            width: 50%;
            font-size: 20px;
        }
        .section_2__button {
            top: 50px;
        }
    
        .section_2__paragraphs {
            position: relative;
            top: 35px;
            display: grid;
            grid-template-columns: 400px;
            grid-template-rows: 200px 200px;
            grid-row-gap: 25px;
            justify-content: center;
            text-align: justify;
            /* align-content: end; */
        }
    }

    .learn_more {
        width: 100%;
        height: 640px;
    }

    .footer {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        align-items: center;
        .footer__contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .footer__logo {
            width: 120px;
            align-self: center;
            flex-basis: 10px;
        }
    
        #footer__logo_img {
            margin: 0px 5px 0px 0px;
            float: left;
            width: 20px;
            height: 20px;
        }
        
        #footer__logo_paragraph {
            letter-spacing: 2px;
            margin: 0px 10px;
        }
    
        .footer__contacts_street {
            flex-basis: 10px;
        }
        
        .footer__contacts_email {
            flex-basis: 10px;
        }
        
        .footer__contacts_paragraph {
            flex-basis: 10px;
        }
        
    }

    

}



/* Mobile animation for stars and ellipe */
@media only screen and (max-width: 768px) {
    
    .main__stars {
        transform-origin: right center;
        animation: stars 2s linear 1s infinite alternate;
    }
    
    .main__ellipse_lights {
        transform-origin: center;
        animation: ellipse_lights 3s linear 4s infinite;
    }
}