/* Animation on main page. Stars and ellipses are animated */
@-webkit-keyframes stars {
  to {
    transform: scaleX(1.05) scaleY(1.05);
  }
}
@keyframes stars {
  to {
    transform: scaleX(1.05) scaleY(1.05);
  }
}
@-webkit-keyframes ellipse_lights {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ellipse_lights {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Animation on main page. Placeholder logo animation */
.main__placeholder_logo:hover {
  transform: scaleY(1.5) scaleX(1.5) rotateY(180deg);
}

/* Animation on second section. READ MORE button animation */
.section_2__button:hover {
  transform: rotate(10deg);
}

/* Animation on 3rd section. Learn more button animation */
.learn_more_button ellipse {
  transition: all 0.8s ease-in-out;
  transform-origin: center;
}

.learn_more__button-polygon path {
  transition: all 0.8s ease-in-out;
  transform-origin: center;
}

.learn_more_button:hover ellipse {
  /* transform: scale(1.2); */
  fill: #FFFFFF;
}

.learn_more_button:hover .learn_more__button-polygon path {
  /* transform: scale(1.5); */
  fill: #39C2D7;
}

@media only screen and (max-width: 768px) {
  .main__stars {
    transform-origin: right center;
    -webkit-animation: stars 2s linear 1s infinite alternate;
            animation: stars 2s linear 1s infinite alternate;
  }
  .main__ellipse_lights {
    transform-origin: center;
    -webkit-animation: ellipse_lights 3s linear 4s infinite;
            animation: ellipse_lights 3s linear 4s infinite;
  }
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Oswald";
  color: rgb(114, 67, 67);
}

header {
  z-index: 5;
  position: absolute;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 150px;
  align-items: center;
  justify-content: flex-start;
}
header .header__project {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-decoration: none;
  justify-self: center;
}

label {
  color: #fff;
  font-size: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav__list .nav__link {
  text-decoration: none;
  color: #FFFFFF;
}
.nav__list .nav__link:nth-child(2) .nav__link {
  text-decoration: underline;
}

#burger, [for=burger] {
  display: none;
}

.main {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding-bottom: 0px;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}
.main .main__header {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}
.main .main__paragraph {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.main .main__placeholder_logo {
  position: relative;
  align-self: center;
  width: 63px;
  height: 63px;
  transition: 0.8s;
}
.main .main_h1 {
  position: relative;
  align-self: center;
}
.main .main_p {
  position: relative;
  align-self: center;
}
.main .main__stars {
  position: absolute;
  right: 0px;
  transform-origin: right center;
  -webkit-animation: stars 2s linear 1s infinite alternate;
          animation: stars 2s linear 1s infinite alternate;
}
.main .main__ellipse_lights {
  position: absolute;
  right: 0px;
  transform-origin: center;
  -webkit-animation: ellipse_lights 3s linear 4s infinite;
          animation: ellipse_lights 3s linear 4s infinite;
}

.section_2 {
  position: relative;
  width: 100%;
  height: 800px;
  margin: 0;
  padding-top: 100px;
  color: #000;
  background: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}
.section_2 .section_2__h1 {
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.section_2 .section_2__h2 {
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #464547;
}
.section_2 .section_2__paragraphs {
  position: relative;
  top: 60px;
  display: grid;
  grid-template-columns: 408px 408px;
  grid-column-gap: 60px;
  justify-content: center;
  align-content: center;
  text-align: justify;
}
.section_2 .section_2__button {
  position: relative;
  width: 116px;
  height: 36px;
  top: 150px;
  border: none;
  color: #FFFFFF;
  border-radius: 18px;
  background-color: #55cad8;
  transition: 0.8s;
  transform-origin: left top;
}

.learn_more {
  position: relative;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/background_2.png);
  color: #FFFFFF;
}
.learn_more .learn_more__header {
  position: relative;
  width: 432px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
}
.learn_more .learn_more__paragraph {
  position: relative;
  width: 350px;
  height: 97.56px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.learn_more .learn_more_button {
  display: flex;
  justify-content: center;
  position: relative;
}
.learn_more .learn_more__button-polygon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.footer {
  position: relative;
  width: 100%;
  height: 160px;
  background-color: #464547;
}
.footer .footer__contacts {
  position: relative;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 75px 75px;
  grid-auto-columns: minmax(75px, auto);
}
.footer .footer__contacts > * {
  font-family: "Source Sans Pro";
  color: #FFFFFF;
}
.footer .footer__logo {
  grid-column-start: 0/1;
}
.footer #footer__logo_img {
  margin: 0px 5px 0px 0px;
  float: left;
  width: 20px;
  height: 20px;
}
.footer #footer__logo_paragraph {
  margin: 0px 10px;
}
.footer .footer__contacts_street {
  grid-column: 3/4;
  grid-row: 1;
}
.footer .footer__contacts_email {
  grid-column: 3/4;
  grid-row: 2;
}
.footer .footer__contacts_email a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .footer__contacts_paragraph {
  grid-column: 6/8;
  grid-row: 2;
}

@media only screen and (max-width: 768px) {
  .body {
    width: 480px;
  }
  .header {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 200px;
  }
  .header__project {
    font-size: 20px;
    justify-self: center;
  }
  [for=burger] {
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
  }
  nav {
    display: none;
  }
  #burger:checked + label + nav {
    display: flex;
    justify-content: flex-end;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
  }
  .main {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    background-position: right;
  }
  .main__stars, .main__ellipse_lights {
    position: fixed;
  }
  .section_2 {
    width: 100%;
    height: 880px;
  }
  .section_2 .section_2__h1 {
    font-size: 38px;
  }
  .section_2 .section_2__h2 {
    width: 50%;
    font-size: 20px;
  }
  .section_2 .section_2__button {
    top: 50px;
  }
  .section_2 .section_2__paragraphs {
    position: relative;
    top: 35px;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 200px 200px;
    grid-row-gap: 25px;
    justify-content: center;
    text-align: justify;
    /* align-content: end; */
  }
  .learn_more {
    width: 100%;
    height: 640px;
  }
  .footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
  }
  .footer .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__logo {
    width: 120px;
    align-self: center;
    flex-basis: 10px;
  }
  .footer #footer__logo_img {
    margin: 0px 5px 0px 0px;
    float: left;
    width: 20px;
    height: 20px;
  }
  .footer #footer__logo_paragraph {
    letter-spacing: 2px;
    margin: 0px 10px;
  }
  .footer .footer__contacts_street {
    flex-basis: 10px;
  }
  .footer .footer__contacts_email {
    flex-basis: 10px;
  }
  .footer .footer__contacts_paragraph {
    flex-basis: 10px;
  }
}
/* Mobile animation for stars and ellipe */
@media only screen and (max-width: 768px) {
  .main__stars {
    transform-origin: right center;
    -webkit-animation: stars 2s linear 1s infinite alternate;
            animation: stars 2s linear 1s infinite alternate;
  }
  .main__ellipse_lights {
    transform-origin: center;
    -webkit-animation: ellipse_lights 3s linear 4s infinite;
            animation: ellipse_lights 3s linear 4s infinite;
  }
}/*# sourceMappingURL=style.css.map */